body{
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

a{
    text-decoration: none;
}
h1{
    margin-left: auto;
    margin-right: auto;
}